<form style="display: flex; flex-direction: column; gap:0.5vh; " action="/api/usuarios" method="POST">
    <label> Name </label>
    <input name="name">
    <label> Apellido </label>
    <input name="last_name">
    <label> Email </label>
    <input name="email">
    <label> Phone </label>
    <input name="phone">
    <input type="submit">
</form>

